:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-width: 320px;
  padding: 1rem;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  width: calc(100% - 20px); /* Adjust for margin */
  position: relative;
}

.message:hover .edit-icon {
  display: block;
}

.edit-icon {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  padding: 5px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.message.user {
  background-color: #e0f7fa; /* Light blue-green */
  align-self: flex-end;
}

.message.assistant {
  background-color: #f1f0f0; /* Light gray */
  align-self: flex-start;
}

.message-content {
  padding: 5px;
}

.main-content {
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align messages to the bottom */
}

.MuiDrawer-paper {
  width: 240px;
  box-sizing: border-box;
}
